# Node dependencies
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment
.env
.env.*

# Electron
*.tsbuildinfo
*.log

# OS generated
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Cache
.cache/
